.DS_Store
.git/
.idea/
conf/nginx/conf.d/*
!conf/nginx/conf.d/localhost.conf
conf/supervisor/conf.d/go/*
!conf/supervisor/conf.d/go/.gitkeep
conf/supervisor/conf.d/php/*
!conf/supervisor/conf.d/php/php-fpm.conf
data/*
!data/.gitkeep
log/*
!log/.gitkeep
www/fm/*
!www/fm/.gitkeep
www/go/*
!www/go/.gitkeep
www/php/*
!www/php/index.php
